@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body {
    margin: 0;
}

main {
    display: flex;
}

.side-bar {
    background: url("images/chris-lee-70l1tDAI6rM-unsplash.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: max(40vw, 200px);
}

.logo-container {
    font-family: 'Merriweather', serif;
    margin-top: 30vh;
    font-size: 2.5em;
    color: white;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.logo-img {
    height: 10vh;
}

.form-description {
    padding-left: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.1);
}

.form-description {
    font-size: 1.5em;
    line-height: 1em;
}

.background-pop-form {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0 20px 30px;
    box-shadow: 0 3px rgb(0, 0, 0, 0.3);
}

.form-title {
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
}

#create-account-btn {
    margin: 30px auto;
}

.each-input {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#create-account-btn {
    color: white;
    font-weight: bold;
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #596D48;
    cursor: pointer;
}

#create-account-btn:hover {
    box-shadow: 1px 1px #596D48;
}

#already {
    padding-left: 30px;
    font-size: 1.2rem;
    margin-top: 0;
}

a {
    color: #596D48;
    text-decoration: none;
    cursor: pointer;
}

a::after {
    color: #596D48;
}

label {
    font-size: 0.7rem;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
}

input:focus {
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px lightblue;
}

@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .side-bar {
        width: 100vw;
        height: max(20vh, 200px);
        justify-content: center;
    }
    .logo-container {
        margin: 0;
    }
}